body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.content {
    text-align: center;
    width: 80%;  /* Begrenser bredden på innholdet for bedre layout */
}

img {
    max-width: 50%;  /* Setter maksimal bredde på bildene til 50% av containerens bredde */
    height: auto;  /* Beholder bildets opprinnelige proporsjoner */
    margin: 10px 0;  /* Legger til vertikal margin for mellomrom */
}

h1 {
    color: rgb(0, 0, 0);
}

p {
    color: rgb(85, 85, 85);
}
